@charset "UTF-8";
	img{
		width: 170px;
		height: 170px;
	}
	.menu_info{
		width: 160px;
		height: 55px;
		text-align: center;
		word-break: break-all;
		font-size: 16px;
		font-family: 'Noto Sans KR', sans-serif;
	}
	#iceLatte{/* 1 */
		position : absolute;
		top : 150px;
		left: 700px;
	}
	#iceLatteInfo{
		position : absolute;
		background-color : #f1f3f5;
		top : 320px;
		left : 700px;
	}
	#iceMoca{/* 2 */
		position : absolute;
		top : 150px;
		left: 875px;
	}
	#iceMocaInfo{
		position : absolute;
		background-color : #f1f3f5;
		top : 320px;
		left : 875px;
	}
	#iceVanillaLatte{/* 3 */
		position : absolute;
		top : 150px;
		left: 1050px;
	}
	#iceVanillaLatteInfo{
		position : absolute;
		background-color : #f1f3f5;
		top : 320px;
		left : 1050px;
	}
	#iceAmericano{/* 4 */
		position : absolute;
		top : 380px;
		left: 700px;
	}
	#iceAmericanoInfo{
		position : absolute;
		background-color : #f1f3f5;
		top : 550px;
		left : 700px;
	}
	#iceCappuccino{/* 5 */
		position : absolute;
		top : 380px;
		left: 875px;
	}
	#iceCappuccinoInfo{
		position : absolute;
		background-color : #f1f3f5;
		top : 550px;
		left : 875px;
	}