@charset "UTF-8";
	.home-icon{
		width: 35px;
		height: auto;
	}
	.home{
		background-color : transparent;
		position: absolute;
  		top: 20px;
  		left : 717px;
  		border: none;
  		cursor:pointer;
	}
	.logo{
		width : 200px;
		height: auto;
		background-color : transparent;
		position: fixed;
  		top: 17px;
  		left : 1000px;
  		border: none;
	}
	.category button{
		background-color: liht gray;
		border: 1px;
		padding : 5px;
		width: 160px;
		height: auto;
		border-radius: 10px;
		margin: 5px;
		font-size: 20px;
		font-family: 'Noto Sans KR', sans-serif;
		cursor: pointer;
	}
	#btn2{
		position : absolute;
		top: 80px;
  		left : 700px;
	}
	#btn3{
		position : absolute;
		top: 80px;
  		left : 875px;
	}
	#btn4{
		position : absolute;
		top: 80px;
  		left : 1050px;
	}
	#btn5{
		position : absolute;
		top: 130px;
  		left : 700px;
	}
	#btn6{
		position : absolute;
		top: 130px;
  		left : 875px;
	}
	#btn7{
		position : absolute;
		top: 130px;
  		left : 1050px;
	}
	#menu{
		position : absolute;
		top: 50px;
	}
	
	.payANDdelete button{
		border: 1px solid;
		border-radius: 10px;
		font-family: 'Noto Sans KR', sans-serif;
		font-size : 20px;	
	}
	#payment{
		margin-top: 700px;
		margin-left: 15px;
		width : 160px;
		height: 110px;
	}
	#deleteAll{
		margin-top: 15px;
		margin-left: 15px;
		width: 160px;
		height: 75px;
	}
	
	
	