@charset "UTF-8";
	img{
		width: 170px;
		height: 170px;
	}
	.menu_info{
		width: 160px;
		height: 55px;
		text-align: center;
		word-break: break-all;
		font-size: 16px;
		font-family: 'Noto Sans KR', sans-serif;
		position : absolute;
		background-color : #f1f3f5;
	}
	.page1{
		position :absolute;
		top : 620px;
		left : 920px;
		width: 15px;
		height: 15px;
		border: 1px solid;		
		border-radius : 50%;
		background-color:  #f1f3f5;
		cursor: pointer;
	}
	.page2{
		position :absolute;
		top : 620px;
		left : 970px;
		width: 15px;
		height: 15px;
		border: 1px solid;		
		border-radius : 50%;
		background-color:  #f1f3f5;
		cursor: pointer;
	}
	#fashionFruitAde{/* 1 */
		position : absolute;
		top : 150px;
		left: 700px;
	}
	#fashionFruitAdeInfo{
		top : 320px;
		left : 700px;
	}
	#limeMojitoAde{/* 2 */
		position : absolute;
		top : 150px;
		left: 875px;
	}
	#limeMojitoAdeInfo{
		top : 320px;
		left : 875px;
	}
	#peachIceTea{/* 3 */
		position : absolute;
		top : 150px;
		left: 1050px;
	}
	#peachIceTeaInfo{
		top : 320px;
		left : 1050px;
	}
	#blueLemonAde{/* 4 */
		position : absolute;
		top : 380px;
		left: 700px;
	}
	#blueLemonAdeInfo{
		top : 550px;
		left : 700px;
	}
	#grapeFruitAde{/* 5 */
		position : absolute;
		top : 380px;
		left: 875px;
	}
	#grapeFruitAdeInfo{
		top : 550px;
		left : 875px;
	}
	#orangeAde{/* 6 */
		position : absolute;
		top : 380px;
		left: 1050px;
	}
	#orangeAdeInfo{
		top : 550px;
		left : 1050px;
	}
	#pinkLemonAde{/* 1 */
		position : absolute;
		top : 150px;
		left: 700px;
	}
	#pinkLemonAdeInfo{
		top : 320px;
		left : 700px;
	}
	#strawberryLatte{/* 2 */
		position : absolute;
		top : 150px;
		left: 875px;
	}
	#strawberryLatteInfo{
		top : 320px;
		left : 875px;
	}
	#chocoLatte{/* 3 */
		position : absolute;
		top : 150px;
		left: 1050px;
	}
	#chocoLatteInfo{
		top : 320px;
		left : 1050px;
	}
	#iceGreenTeaLatte{/* 4 */
		position : absolute;
		top : 380px;
		left: 700px;
	}
	#iceGreenTeaLatteInfo{
		top : 550px;
		left : 700px;
	}
	#hotGreenTeaLatte{/* 5 */
		position : absolute;
		top : 380px;
		left: 875px;
	}
	#hotGreenTeaLatteInfo{
		top : 550px;
		left : 875px;
	}
	#toffeeNutLatte{/* 6 */
		position : absolute;
		top : 380px;
		left: 1050px;
	}
	#toffeeNutLatteInfo{
		top : 550px;
		left : 1050px;
	}
	