<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartMapper">

   <insert id="cartAdd" parameterType="CartDTO">
     insert into cart (pdno, pdnm, amount, totalprice, opt, ctnm)
     values(#{pdno}, #{pdnm}, #{amount}, #{totalprice}, #{opt}, #{ctnm})
   </insert>
	
	
	<select id="cartList" resultType="CartDTO">
	select pdno, pdnm, amount, totalprice, opt, ctnm
	from cart
	</select>
	
	<delete id="cartAllDel" parameterType="CartDTO">
		delete from cart
	</delete>
	
</mapper>