<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartMapper">

   <insert id="cartAdd" parameterType="CartDTO">
	   insert into cart (pdno, pdnm, amount, totalprice, opt, ctnm, num)
	   values(#{pdno}, #{pdnm}, #{amount}, #{totalprice}, #{opt}, #{ctnm},  (SELECT NVL(MAX(num), 0) + 1 from cart))
   </insert>
	
	
	<select id="cartList" resultType="CartDTO">
		select pdno, pdnm, amount, totalprice, opt, ctnm, num
		from cart
	</select>
	
	<delete id="cartAllDel" parameterType="CartDTO">
		delete from cart
	</delete>
	
	<update id="Plus" parameterType="CartDTO">
		update cart
		set amount = #{amount}+1
		where num = #{num}
	</update>
	
</mapper>